@model CarShowroom.Models.Car

@{
    ViewData["Title"] = "Редагування автомобілю";
    Layout = "_Layout";
}

<form enctype="application/x-www-form-urlencoded" method="post" action="/edit">
    @if (!string.IsNullOrEmpty(Model.Id))
    {
        <input type="hidden" name="Id" value="@Model.Id" />
    }
    <p>Виробник</p>
    <input type="text" name="Manufacturer" id="manufacturer" value="@Model.Manufacturer"/>
    <p>Модель</p>
    <input type="text" name="Model" id="model" value="@Model.Model"/>
    <p>Тип двигуна</p>
    <input type="text" name="EngineType" id="engine_type" value="@Model.EngineType"/>
    <p>Потужність двигуна</p>
    <input type="text" name="EnginePower" id="engine_power" value="@Model.EnginePower"/>
    <p>Кількість циліндрів</p>
    <input type="number" name="AmountOfCylinders" id="amount_of_cylinders" value="@Model.AmountOfCylinders"/>
    <p>Колір</p>
    <input type="text" name="Color" id="color" value="@Model.Color"/>
    <p>Дата виготовлення</p>
    <input type="date" name="DateOfCreation" id="date_of_creation" value="@Model.DateOfCreation.ToString("yyyy-MM-dd")"/>
    <p>Кількість в наявності</p>
    <input type="text" name="AmountLeft" id="amount_left" value="@Model.AmountLeft">
    <p>Посилання на фото (jpg, png)</p>
    <input type="text" name="ImageUrl" id="image_url" value="@Model.ImageUrl"/>
    <input type="submit" value="Add car"/>
</form>