@model List<CarShowroom.Models.Car>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Список автомобілів";
}

@foreach (var car in Model)
{
    <div style="border: 1px;">
        <img src="@car.ImageUrl" alt="" />
        <p>Виробник: @car.Manufacturer | Модель: @car.Model | Тип двигуна: @car.EngineType | Потужність двигуна: @car.EnginePower | Кількість циліндрів: @car.AmountOfCylinders | Дата виробництва: @car.DateOfCreation | @(car.AmountLeft > 0 ? "Є в наявності" : "Немає в наявності")</p>
        <button>Редагувати</button>
    </div>
}