@model List<CarShowroom.Models.Car>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Список автомобілів";
}

<div style="margin-bottom: 5px; padding: 5px">
    <button onclick="window.location.href = '/edit';">Додати новий автомобіль</button>
</div>
@foreach (var car in Model)
{
    <div style="border-style: solid; border-width: 1px; padding: 5px; text-align: center; max-width: 800px">
        <img src="@car.ImageUrl" style="max-width: 500px;" alt="" />
        <p>Виробник: @car.Manufacturer | Модель: @car.Model | Тип двигуна: @car.EngineType | Потужність двигуна: @car.EnginePower | Кількість циліндрів: @car.AmountOfCylinders | Дата виробництва: @car.DateOfCreation.ToString("dd-MM-yyyy") | @(car.AmountLeft > 0 ? "Є в наявності" : "Немає в наявності")</p>
        <button onclick="window.location.href = '/edit/@car.Id';">Редагувати</button>
    </div>
}